---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/eve/CharacterInfo.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-08-17 01:49:25</currentTime>
          <result>
            <characterID>462421468</characterID>
            <characterName>Zaphoon</characterName>
            <race>Caldari</race>
            <bloodlineID>2</bloodlineID>
            <bloodline>Civire</bloodline>
            <ancestryID>7</ancestryID>
            <ancestry>Entrepreneurs</ancestry>
            <accountBalance>10000000.12</accountBalance>
            <skillPoints>20000000</skillPoints>
            <nextTrainingEnds>2015-07-22 05:33:56</nextTrainingEnds>
            <shipName>My Ship</shipName>
            <shipTypeID>24698</shipTypeID>
            <shipTypeName>Drake</shipTypeName>
            <corporationID>98063277</corporationID>
            <corporation>Archon Corporation</corporation>
            <corporationDate>2016-07-24 02:57:00</corporationDate>
            <allianceID>99004425</allianceID>
            <alliance>The Bastion</alliance>
            <allianceDate>2014-05-23 02:07:00</allianceDate>
            <lastKnownLocation>Halle II - Caldari Business Tribunal</lastKnownLocation>
            <securityStatus>2.40297246280317</securityStatus>
            <rowset name="employmentHistory" key="recordID" columns="recordID,corporationID,corporationName,startDate">
              <row recordID="42416328" corporationID="98063277" corporationName="Archon Corporation" startDate="2016-07-24 02:57:00" />
              <row recordID="34716213" corporationID="1000009" corporationName="Caldari Provisions" startDate="2014-08-25 00:54:00" />
            </rowset>
          </result>
          <cachedUntil>2016-08-17 02:46:25</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/eve/CharacterInfo.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Wed, 17 Aug 2016 01:49:25 GMT
recorded_with: VCR 3.0.3
