---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/eve/CharacterID.xml.aspx?names=Remy%20Hart
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-10-10 01:48:25</currentTime>
          <result>
            <rowset name="characters" key="characterID" columns="name,characterID">
              <row name="Remy Hart" characterID="92902265" />
            </rowset>
          </result>
          <cachedUntil>2016-11-10 01:48:25</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/eve/CharacterID.xml.aspx?names=Remy%20Hart
  recorded_at: Mon, 10 Oct 2016 02:24:16 GMT
recorded_with: VCR 3.0.3
