---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/eve/CharacterAffiliation.xml.aspx?IDs=462421468
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-12-26 21:38:51</currentTime>
          <result>
            <rowset name="characters" key="characterID" columns="characterID,characterName,corporationID,corporationName,allianceID,allianceName,factionID,factionName">
              <row characterID="462421468" characterName="Zaphoon" corporationID="98063277" corporationName="Archon Corporation" allianceID="0" allianceName="" factionID="0" factionName="" />
            </rowset>
          </result>
          <cachedUntil>2016-12-26 21:52:51</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/eve/CharacterAffiliation.xml.aspx?IDs=462421468
  recorded_at: Mon, 26 Dec 2016 21:38:51 GMT
recorded_with: VCR 3.0.3
