---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/eve/RefTypes.xml.aspx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-12-26 20:38:16</currentTime>
          <result>
            <rowset name="refTypes" key="refTypeID" columns="refTypeID,refTypeName">
              <row refTypeID="0" refTypeName="Undefined" />
              <row refTypeID="1" refTypeName="Player Trading" />
              <row refTypeID="2" refTypeName="Market Transaction" />
            </rowset>
          </result>
          <cachedUntil>2016-12-27 20:38:16</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/eve/RefTypes.xml.aspx
  recorded_at: Mon, 26 Dec 2016 20:38:16 GMT
recorded_with: VCR 3.0.3
