---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/corp/CorporationSheet.xml.aspx?corporationID=98063277
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-23 02:18:32</currentTime>
          <result>
            <corporationID>98063277</corporationID>
            <corporationName>Archon Corporation</corporationName>
            <ticker>ACHN</ticker>
            <ceoID>90332071</ceoID>
            <ceoName>Christy Sirois</ceoName>
            <stationID>60003652</stationID>
            <stationName>Halle II - Caldari Business Tribunal</stationName>
            <description>A description of the corporation.</description>
            <url>http://www.wraithgaming.com</url>
            <allianceID>0</allianceID>
            <factionID>0</factionID>
            <taxRate>10</taxRate>
            <memberCount>8</memberCount>
            <shares>1000</shares>
            <logo>
              <graphicID>0</graphicID>
              <shape1>539</shape1>
              <shape2>511</shape2>
              <shape3>502</shape3>
              <color1>677</color1>
              <color2>682</color2>
              <color3>683</color3>
            </logo>
          </result>
          <cachedUntil>2016-09-23 02:32:36</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/corp/CorporationSheet.xml.aspx?corporationID=98063277
  recorded_at: Fri, 23 Sep 2016 02:18:32 GMT
recorded_with: VCR 3.0.3
