---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/corp/MemberTracking.xml.aspx?keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-15 02:34:42</currentTime>
          <result>
            <rowset name="members" key="characterID" columns="characterID,name,startDateTime,baseID,base,title">
              <row characterID="462421468" name="Zaphoon" startDateTime="2016-07-24 02:57:00" baseID="0" base="" title="Director" />
            </rowset>
          </result>
          <cachedUntil>2016-09-15 08:31:42</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/corp/MemberTracking.xml.aspx?keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Thu, 15 Sep 2016 02:34:42 GMT
recorded_with: VCR 3.0.3
