---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/corp/StarbaseDetail.xml.aspx?itemID=100449451&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-10-30 03:32:12</currentTime>
          <result>
            <state>4</state>
            <stateTimestamp>2009-05-02 21:31:36</stateTimestamp>
            <onlineTimestamp>2009-04-18 23:30:29</onlineTimestamp>
            <generalSettings>
              <usageFlags>3</usageFlags>
              <deployFlags>0</deployFlags>
              <allowCorporationMembers>1</allowCorporationMembers>
              <allowAllianceMembers>1</allowAllianceMembers>
            </generalSettings>
            <combatSettings>
              <useStandingsFrom ownerID="154683985" />
              <onStandingDrop standing="990" />
              <onStatusDrop enabled="0" standing="0" />
              <onAggression enabled="0" />
              <onCorporationWar enabled="1" />
            </combatSettings>
            <rowset name="fuel" key="typeID" columns="typeID,quantity">
              <row typeID="16275" quantity="2447" />
              <row typeID="16274" quantity="18758" />
              <row typeID="9848" quantity="166" />
              <row typeID="9832" quantity="332" />
              <row typeID="3689" quantity="332" />
              <row typeID="44" quantity="166" />
              <row typeID="16273" quantity="6142" />
              <row typeID="16272" quantity="5644" />
              <row typeID="3683" quantity="1162" />
            </rowset>
          </result>
          <cachedUntil>2016-10-30 09:29:12</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/corp/StarbaseDetail.xml.aspx?itemID=100449451&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Sun, 30 Oct 2016 03:32:12 GMT
recorded_with: VCR 3.0.3
