---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/corp/WalletTransactions.xml.aspx?accountKey=1006&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-24 03:51:50</currentTime>
          <result>
            <rowset name="transactions" key="transactionID" columns="transactionDateTime,transactionID,quantity,typeName,typeID,price,clientID,clientName,characterID,characterName,stationID,stationName,transactionType,transactionFor,journalTransactionID,clientTypeID">
              <row transactionDateTime="2016-08-27 17:55:05" transactionID="4391188295" quantity="12500" typeName="Tritanium" typeID="34" price="5.24" clientID="1051457831" clientName="Commander Godsmack" characterID="462421468" characterName="Zaphoon" stationID="60011866" stationName="Dodixie IX - Moon 20 - Federation Navy Assembly Plant" transactionType="sell" transactionFor="corporation" journalTransactionID="12994678528" clientTypeID="1377" />
              <row transactionDateTime="2016-08-27 21:12:20" transactionID="4391304357" quantity="277127" typeName="Concentrated Veldspar" typeID="17470" price="15.91" clientID="1446193144" clientName="Arnwood" characterID="462421468" characterName="Zaphoon" stationID="60011866" stationName="Dodixie IX - Moon 20 - Federation Navy Assembly Plant" transactionType="sell" transactionFor="corporation" journalTransactionID="12995260469" clientTypeID="1383" />
            </rowset>
          </result>
          <cachedUntil>2016-09-24 04:18:50</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/corp/WalletTransactions.xml.aspx?accountKey=1006&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Sat, 24 Sep 2016 03:51:50 GMT
recorded_with: VCR 3.0.3
