---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/corp/WalletJournal.xml.aspx?accountKey=1006&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-23 04:54:10</currentTime>
          <result>
            <rowset name="entries" key="refID" columns="date,refID,refTypeID,ownerName1,ownerID1,ownerName2,ownerID2,argName1,argID1,amount,balance,reason,owner1TypeID,owner2TypeID">
              <row date="2016-09-23 04:16:57" refID="13077519971" refTypeID="37" ownerName1="Archon Corporation" ownerID1="98063277" ownerName2="Zaphoon" ownerID2="462421468" argName1="Zaphoon" argID1="462421468" amount="-123456.78" balance="20040000.00" reason="DESC: API Test 4&#xA;" owner1TypeID="2" owner2TypeID="1375" />
              <row date="2016-09-23 04:16:48" refID="13077519759" refTypeID="10" ownerName1="Zaphoon" ownerID1="462421468" ownerName2="Archon Corporation" ownerID2="98063277" argName1="" argID1="0" amount="123456.78" balance="20163456.78" reason="DESC: API Test 3&#xA;" owner1TypeID="1375" owner2TypeID="2" />
            </rowset>
          </result>
          <cachedUntil>2016-09-23 05:21:10</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/corp/WalletJournal.xml.aspx?accountKey=1006&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Fri, 23 Sep 2016 04:54:10 GMT
recorded_with: VCR 3.0.3
