---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/AccountStatus.xml.aspx?keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-05 19:54:38</currentTime>
          <result>
            <paidUntil>2017-07-10 19:34:28</paidUntil>
            <createDate>2010-01-27 02:53:00</createDate>
            <logonCount>1336</logonCount>
            <logonMinutes>79004</logonMinutes>
            <rowset name="multiCharacterTraining" key="trainingEnd" columns="trainingEnd">
              <row trainingEnd="2016-10-05 19:54:38" />
            </rowset>
          </result>
          <cachedUntil>2016-09-05 20:51:38</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/account/AccountStatus.xml.aspx?keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Mon, 05 Sep 2016 19:54:38 GMT
recorded_with: VCR 3.0.3
