---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/APIKeyInfo.xml.aspx?keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-05 20:21:35</currentTime>
          <result>
            <key accessMask="4294967295" type="Account" expires="">
              <rowset name="characters" key="characterID" columns="characterID,characterName,corporationID,corporationName,allianceID,allianceName,factionID,factionName">
                <row characterID="462421468" characterName="Zaphoon" corporationID="98063277" corporationName="Archon Corporation" allianceID="0" allianceName="" factionID="0" factionName="" />
              </rowset>
            </key>
          </result>
          <cachedUntil>2016-09-05 20:26:35</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/account/APIKeyInfo.xml.aspx?keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Mon, 05 Sep 2016 20:21:35 GMT
recorded_with: VCR 3.0.3
