---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/ContactNotifications.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-30 05:38:36</currentTime>
          <result>
            <rowset name="contactNotifications" key="notificationID" columns="notificationID,senderID,senderName,sentDate,messageData">
              <row notificationID="308734131" senderID="797400947" senderName="CCP Garthagk" sentDate="2010-05-29 23:04:00" messageData="level: 10&#xA;message: Hi, I want to social network with you!&#xA;" />
            </rowset>
          </result>
          <cachedUntil>2016-11-30 06:05:36</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/ContactNotifications.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Sun, 04 Sep 2016 02:00:44 GMT
recorded_with: VCR 3.0.3
