---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/Contracts.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-12-01 05:37:04</currentTime>
          <result>
            <rowset name="contractList" key="contractID" columns="contractID,issuerID,issuerCorpID,assigneeID,acceptorID,startStationID,endStationID,type,status,title,forCorp,availability,dateIssued,dateExpired,dateAccepted,numDays,dateCompleted,price,reward,collateral,buyout,volume">
              <row contractID="111278537" issuerID="462421468" issuerCorpID="98063277" assigneeID="98063277" acceptorID="0" startStationID="60003652" endStationID="60003652" type="ItemExchange" status="Outstanding" title="Test 1" forCorp="0" availability="Private" dateIssued="2016-12-01 05:11:15" dateExpired="2016-12-15 05:11:15" dateAccepted="" numDays="0" dateCompleted="" price="4123000.00" reward="0.00" collateral="0.00" buyout="0.00" volume="29500" />
              <row contractID="111278568" issuerID="462421468" issuerCorpID="98063277" assigneeID="98063277" acceptorID="0" startStationID="60003652" endStationID="60003652" type="ItemExchange" status="Outstanding" title="Test 2" forCorp="0" availability="Private" dateIssued="2016-12-01 05:13:00" dateExpired="2016-12-15 05:13:00" dateAccepted="" numDays="0" dateCompleted="" price="5000.00" reward="0.00" collateral="0.00" buyout="0.00" volume="10" />
            </rowset>
          </result>
          <cachedUntil>2016-12-01 05:37:32</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/Contracts.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Thu, 01 Dec 2016 05:37:04 GMT
recorded_with: VCR 3.0.3
