---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/ContactList.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-20 23:40:04</currentTime>
          <result>
            <rowset name="contactList" key="contactID" columns="contactID,contactName,standing,contactTypeID,labelMask,inWatchlist">
              <row contactID="92902265" contactName="Remy Hart" standing="10" contactTypeID="1379" labelMask="1" inWatchlist="True" />
            </rowset>
            <rowset name="contactLabels" key="labelID" columns="labelID,name">
              <row labelID="1" name="Test Label" />
            </rowset>
            <rowset name="corporateContactList" key="contactID" columns="contactID,contactName,standing,contactTypeID,labelMask">
              <row contactID="384667640" contactName="Black Frog Logistics" standing="5" contactTypeID="2" labelMask="0" />
              <row contactID="1495741119" contactName="Red Frog Freight" standing="5" contactTypeID="2" labelMask="0" />
            </rowset>
            <rowset name="corporateContactLabels" key="labelID" columns="labelID,name" />
            <rowset name="allianceContactList" key="contactID" columns="contactID,contactName,standing,contactTypeID,labelMask" />
            <rowset name="allianceContactLabels" key="labelID" columns="labelID,name" />
          </result>
          <cachedUntil>2016-11-20 23:54:04</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/ContactList.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Sun, 20 Nov 2016 23:40:04 GMT
recorded_with: VCR 3.0.3
