---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/FacWarStats.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-22 04:27:25</currentTime>
          <error code="124">Character not enlisted in Factional Warfare.</error>
          <cachedUntil>2016-11-22 16:27:25</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/FacWarStats.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Tue, 22 Nov 2016 04:27:25 GMT
recorded_with: VCR 3.0.3
