---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/IndustryJobs.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-28 05:35:44</currentTime>
          <result>
            <rowset name="jobs" key="jobID" columns="jobID,installerID,installerName,facilityID,solarSystemID,solarSystemName,stationID,activityID,blueprintID,blueprintTypeID,blueprintTypeName,blueprintLocationID,outputLocationID,runs,cost,teamID,licensedRuns,probability,productTypeID,productTypeName,status,timeInSeconds,startDate,endDate,pauseDate,completedDate,completedCharacterID,successfulRuns">
              <row jobID="310727768" installerID="462421468" installerName="Zaphoon" facilityID="60014485" solarSystemID="30003010" solarSystemName="Halle" stationID="60014485" activityID="3" blueprintID="1021769767299" blueprintTypeID="11284" blueprintTypeName="Cap Booster 150 Blueprint" blueprintLocationID="60014485" outputLocationID="60014485" runs="10" cost="36464.00" teamID="0" licensedRuns="300" probability="1" productTypeID="11284" productTypeName="Cap Booster 150 Blueprint" status="1" timeInSeconds="310080[...]
