---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/Locations.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-20 06:03:11</currentTime>
          <result>
            <rowset name="locations" key="itemID" columns="itemID,itemName,x,y,z">
              <row itemID="1010000493393" itemName="Zephyr Biscuit" x="0" y="0" z="0" />
            </rowset>
          </result>
          <cachedUntil>2016-11-20 07:03:11</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/Locations.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Sun, 20 Nov 2016 06:03:11 GMT
recorded_with: VCR 3.0.3
