---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/MailMessages.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-13 21:07:54</currentTime>
          <result>
            <rowset name="messages" key="messageID" columns="messageID,senderID,senderName,sentDate,title,toCorpOrAllianceID,toCharacterIDs,toListID">
              <row messageID="362680073" senderID="462421468" senderName="Zaphoon" sentDate="2016-11-13 21:01:00" title="Test Message" toCorpOrAllianceID="" toCharacterIDs="462421468" toListID="" senderTypeID="1375" />
            </rowset>
          </result>
          <cachedUntil>2016-11-13 21:21:54</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/MailMessages.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Sun, 13 Nov 2016 19:34:11 GMT
recorded_with: VCR 3.0.3
