---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/MailBodies.xml.aspx?characterID=462421468&IDs=362680073%2C362680744&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-13 22:07:20</currentTime>
          <result>
            <rowset name="messages" key="messageID" columns="messageID">
              <row messageID="362680073">
                <![CDATA[API test]]>
              </row>
              <row messageID="362680744">
                <![CDATA[Second test message.]]>
              </row>
            </rowset>
          </result>
          <cachedUntil>2026-11-11 22:07:20</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/MailBodies.xml.aspx?characterID=462421468&IDs=362680073%2C362680744&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Sun, 13 Nov 2016 19:34:11 GMT
recorded_with: VCR 3.0.3
