---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/MailingLists.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-13 20:58:11</currentTime>
          <result>
            <rowset name="mailingLists" key="listID" columns="listID,displayName">
              <row listID="123456789" displayName="Test List" />
            </rowset>
          </result>
          <cachedUntil>2016-11-14 01:16:55</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/MailingLists.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Sun, 13 Nov 2016 19:34:11 GMT
recorded_with: VCR 3.0.3
