---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/NotificationTexts.xml.aspx?characterID=462421468&IDs=589251502&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-21 04:54:04</currentTime>
          <result>
            <rowset name="notifications" key="notificationID" columns="notificationID">
              <row notificationID="589251502">
                <![CDATA[amount: 43188
        billTypeID: 2
        creditorID: 1000033
        currentDate: 131241741999174933
        debtorID: 98063277
        dueDate: 131267637960000000
        externalID: 27
        externalID2: 60003652
        ]]>
              </row>
            </rowset>
          </result>
          <cachedUntil>2026-11-19 04:54:04</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/NotificationTexts.xml.aspx?characterID=462421468&IDs=589251502&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Sun, 04 Sep 2016 02:00:44 GMT
recorded_with: VCR 3.0.3
