---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/Notifications.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-21 04:53:49</currentTime>
          <result>
            <rowset name="notifications" key="notificationID" columns="notificationID,typeID,senderID,senderName,sentDate,read">
              <row notificationID="589251502" typeID="10" senderID="1000033" senderName="Caldari Business Tribunal" sentDate="2016-11-21 03:57:00" read="0" />
            </rowset>
          </result>
          <cachedUntil>2016-11-21 05:00:16</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/Notifications.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Mon, 21 Nov 2016 04:53:49 GMT
recorded_with: VCR 3.0.3
