---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/PlanetaryRoutes.xml.aspx?characterID=462421468&planetID=40191481&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-13 06:19:49</currentTime>
          <result>
            <rowset name="routes" key="routeID" columns="routeID,sourcePinID,destinationPinID,contentTypeID,contentTypeName,quantity,waypoint1,waypoint2,waypoint3,waypoint4,waypoint5">
              <row routeID="758079483" sourcePinID="1021935301393" destinationPinID="1021935301407" contentTypeID="3645" contentTypeName="Water" quantity="40" waypoint1="1021935301389" waypoint2="1021935301396" waypoint3="0" waypoint4="0" waypoint5="0" />
              <row routeID="758079477" sourcePinID="1021935301396" destinationPinID="1021935301401" contentTypeID="2309" contentTypeName="Ionic Solutions" quantity="3000" waypoint1="0" waypoint2="0" waypoint3="0" waypoint4="0" waypoint5="0" />
            </rowset>
          </result>
          <cachedUntil>2016-11-13 07:19:49</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/PlanetaryRoutes.xml.aspx?characterID=462421468&planetID=40191481&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Sat, 12 Nov 2016 06:19:49 GMT
recorded_with: VCR 3.0.3
