---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/Skills.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-04 02:33:20</currentTime>
          <result>
            <freeSkillPoints>0</freeSkillPoints>
            <rowset name="skills" key="typeID" columns="typeID,typeName,skillpoints,level,published">
              <row typeID="2403" typeName="Advanced Planetology" skillpoints="40000" level="3" published="1" />
              <row typeID="2406" typeName="Planetology" skillpoints="135765" level="4" published="1" />
              <row typeID="2495" typeName="Interplanetary Consolidation" skillpoints="32000" level="3" published="1" />
              <row typeID="2505" typeName="Command Center Upgrades" skillpoints="181020" level="4" published="1" />
              <row typeID="3184" typeName="ORE Industrial" skillpoints="1024000" level="5" published="1" />
              <row typeID="3300" typeName="Gunnery" skillpoints="256000" level="5" published="1" />
              <row typeID="3301" typeName="Small Hybrid Turret" skillpoints="256000" level="5" published="1" />
            </rowset>
          </result>
          <cachedUntil>2016-09-04 02:47:12</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/Skills.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Sun, 04 Sep 2016 02:33:20 GMT
recorded_with: VCR 3.0.3
