---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillQueue.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-05 03:17:15</currentTime>
          <result>
            <rowset name="skillqueue" key="queuePosition" columns="queuePosition,typeID,level,startSP,endSP,startTime,endTime">
              <row queuePosition="0" typeID="3363" level="3" startSP="1415" endSP="8000" startTime="" endTime="" />
              <row queuePosition="1" typeID="3363" level="4" startSP="8000" endSP="45255" startTime="" endTime="" />
            </rowset>
          </result>
          <cachedUntil>2016-09-05 04:14:15</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/char/SkillQueue.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
  recorded_at: Mon, 05 Sep 2016 03:17:15 GMT
recorded_with: VCR 3.0.3
