---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/Standings.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-04 03:42:23</currentTime>
          <result>
            <characterNPCStandings>
              <rowset name="agents" key="fromID" columns="fromID,fromName,standing">
                <row fromID="3009823" fromName="Loot Astyroure" standing="0.75" />
                <row fromID="3010819" fromName="Isaken Sarkeda" standing="0.27" />
                <row fromID="3010852" fromName="Fider Tolelskorsur" standing="7.75" />
                <row fromID="3010858" fromName="Fasskeflur Orba" standing="0.68" />
                <row fromID="3010859" fromName="Krigasand Eytteinn" standing="1.27" />
              </rowset>
              <rowset name="NPCCorporations" key="fromID" columns="fromID[...]
