---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/UpcomingCalendarEvents.xml.aspx?characterID=462421468&keyID=1515664&vCode=QYYBHdsFMmdWjc9bkWhqqKx00NLqA1c3pNHlacqHUGpaTkrnyrzwZ0vFY9L6aei3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-11-13 19:34:11</currentTime>
          <result>
            <rowset name="upcomingEvents" key="eventID" columns="eventID,ownerID,ownerName,eventDate,eventTitle,duration,importance,response,eventText,ownerTypeID">
              <row eventID="1451448" ownerID="1" ownerName="EVE System" eventDate="2016-11-15 11:00:00" eventTitle="Deplyoment of EVE Online: Ascension" duration="0" importance="0" response="Undecided" eventText="&quot;EVE Online: Ascension&quot; will be deployed during an extended downtime starting at 11:00 UTC.&#xD;&#xA;&#xD;&#xA;&lt;a href=&quot;https://community.eveonline.com/news/news-channels/eve-online-news/eve-online-ascension-to-be-deployed-on-tuesday-november-15th/?utm_source=ingame&amp;utm_medium=calend[...]
