---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/server/ServerStatus.xml.aspx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-03 17:15:36</currentTime>
          <result>
            <serverOpen>True</serverOpen>
            <onlinePlayers>27256</onlinePlayers>
          </result>
          <cachedUntil>2016-09-03 17:16:29</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/server/ServerStatus.xml.aspx
  recorded_at: Sun, 04 Sep 2016 00:15:36 GMT
recorded_with: VCR 3.0.3
