---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/map/Jumps.xml.aspx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-03 19:58:33</currentTime>
          <result>
            <rowset name="solarSystems" key="solarSystemID" columns="solarSystemID,shipJumps">
              <row solarSystemID="30000086" shipJumps="19" />
              <row solarSystemID="30002078" shipJumps="5" />
              <row solarSystemID="30001082" shipJumps="11" />
              <row solarSystemID="30005327" shipJumps="24" />
              <row solarSystemID="30001652" shipJumps="50" />
              <row solarSystemID="30002101" shipJumps="3" />
              <row solarSystemID="30003097" shipJumps="1" />
              <row solarSystemID="30004308" shipJumps="1" />
              <row solarSystemID="30003381" shipJumps="9" />
              <row solarSystemID="30000704" shipJumps="41" />
            </rowset>
            <dataTime>2016-09-03 19:58:33</dataTime>
          </result>
          <cachedUntil>2016-09-03 20:24:36</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/map/Jumps.xml.aspx
  recorded_at: Sat, 03 Sep 2016 19:58:33 GMT
recorded_with: VCR 3.0.3
