---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/map/Kills.xml.aspx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-03 20:25:07</currentTime>
          <result>
            <rowset name="solarSystems" key="solarSystemID" columns="solarSystemID,shipKills,factionKills,podKills">
              <row solarSystemID="30045307" shipKills="2" factionKills="10" podKills="1" />
              <row solarSystemID="30001414" shipKills="0" factionKills="41" podKills="0" />
              <row solarSystemID="30000109" shipKills="0" factionKills="51" podKills="0" />
              <row solarSystemID="30004377" shipKills="0" factionKills="196" podKills="0" />
              <row solarSystemID="30003026" shipKills="0" factionKills="53" podKills="0" />
              <row solarSystemID="30003575" shipKills="0" factionKills="46" podKills="0" />
              <row solarSystemID="30003527" shipKills="0" factionKills="14" podKills="0" />
              <row solarSystemID="30002224" shipKills="0" factionKills="26" podKills="0" />
            </rowset>
            <dataTime>2016-09-03 20:25:07</dataTime>
          </result>
          <cachedUntil>2016-09-03 21:21:30</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/map/Kills.xml.aspx
  recorded_at: Sat, 03 Sep 2016 20:25:07 GMT
recorded_with: VCR 3.0.3
