---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/map/Sovereignty.xml.aspx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: >
        <?xml version='1.0' encoding='UTF-8'?>
        <eveapi version="2">
          <currentTime>2016-09-03 20:39:31</currentTime>
          <result>
            <rowset name="solarSystems" key="solarSystemID" columns="solarSystemID,allianceID,factionID,solarSystemName,corporationID">
              <row solarSystemID="30000208" allianceID="498125261" factionID="0" solarSystemName="LZ-6SU" corporationID="416584095" />
              <row solarSystemID="30000209" allianceID="498125261" factionID="0" solarSystemName="MC6O-F" corporationID="416584095" />
              <row solarSystemID="30000210" allianceID="498125261" factionID="0" solarSystemName="U54-1L" corporationID="416584095" />
              <row solarSystemID="30000211" allianceID="498125261" factionID="0" solarSystemName="B-588R" corporationID="416584095" />
              <row solarSystemID="30000212" allianceID="498125261" factionID="0" solarSystemName="NCGR-Q" corporationID="416584095" />
              <row solarSystemID="30000213" allianceID="498125261" factionID="0" solarSystemName="G-LOIT" corporationID="416584095" />
              <row solarSystemID="30000214" allianceID="498125261" factionID="0" solarSystemName="HE-V4V" corporationID="416584095" />
            </rowset>
            <dataTime>2016-09-03 20:23:11</dataTime>
          </result>
          <cachedUntil>2016-09-03 21:20:11</cachedUntil>
        </eveapi>
      effective_url: https://api.eveonline.com/map/Sovereignty.xml.aspx
  recorded_at: Sat, 03 Sep 2016 20:39:31 GMT
recorded_with: VCR 3.0.3
